@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
$font-base: 'Roboto', 'Arial', sans-serif;
$purple: #5147dd;

html {
	font-size: 14px;
}

body {
	background: #e0e0e0;
	background: linear-gradient(to right, rgba(#e0e0e0,1) 0%, rgba(#fff,1) 100%);
	overflow-x: hidden;
	* { font-family: 'Roboto'; }
}

.RegisterLogin-wrapper {
	border-radius: 5px;
	display: flex;
	height: 30rem;
	margin: 3rem auto 0;
	max-width: 50rem;
	overflow-y: visible;
	position: relative;
}

$w: 30rem;
$t: none; //all .2s ease-out;
$m: 1rem 0;
$duration: .5s;

.fade-wrapper {
	opacity: 0;
	transition: opacity .15s ease-out;
	transition-delay: .25s;
}

.login__wrapper,
.registration__wrapper {
	border-radius: 5px;
	position: absolute;
	top: 2rem;

	&.active > .fade-wrapper {
		opacity: 1;
	}

	&.active {
		top: 0;
		z-index: 20;
	}
}

.form-title {
	font-size: 1.5rem;
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.form-subtitle {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 2rem;
	text-align: center;
}

.login__wrapper {
	background: #007bee;
	background: -moz-linear-gradient(left, rgba(0,123,238,1) 0%, rgba(81,71,221,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,123,238,1)), color-stop(100%, rgba(81,71,221,1)));
	background: -webkit-linear-gradient(left, rgba(0,123,238,1) 0%, rgba(81,71,221,1) 100%);
	background: -o-linear-gradient(left, rgba(0,123,238,1) 0%, rgba(81,71,221,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,123,238,1) 0%, rgba(81,71,221,1) 100%);
	background: linear-gradient(to right, rgba(0,123,238,1) 0%, rgba(81,71,221,1) 100%);
	color: #fff;
	left: 100px;
	padding: 4rem;
	transition: $t;
	width: $w;

	.form-label {
		color: #fff;
	}

	.form-control {
		border-color: $purple;
	}

	&.transition-in {
		animation: $duration left-transition-in;
	}

	&.transition-out {
		animation: $duration left-transition-out;
	}

	&.active {
		box-shadow: 0 1rem 2rem rgba(81,71,221, .2);
	}

	&:not(.active) {
		cursor: pointer;
		left: 100px;
	}
}

.registration__wrapper {
	min-height: 42rem;
	padding: 4rem 2rem 2rem;
	transition: $t;
	width: $w;
	right: 100px;

	> * {
		opacity: 1;
		transition: all 150ms ease-out;
	}

	&:not(.active):hover {
		background: #fff;
	}

	&.transition-in {
		animation: $duration right-transition-in;
	}

	&.transition-out {
		animation: $duration right-transition-out;
	}

	&.active {
		background: #fff;
		box-shadow: 0 1rem 2rem rgba(#000, .1);
	}

	&:not(.active) {
		background: #fff;
		border-radius: 0 5px 5px 0;
		cursor: pointer;

		> * {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.card-body {
	padding: 1rem;
}

.form-label {
	color: #414669;
	margin-bottom: .25rem;
}

.box__container {
	background: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 1rem;
	transition: all .15s ease-out;

	&:hover {
		border-color: $purple;
	}

	&.box--selected {
		background: $purple;
		border-color: $purple;
		color: #fff;
	}

	.box__title {
		font-size: 1.2rem;
		font-weight: 500;
		margin-bottom: 1rem;
	}

	.box__copy {
		margin-bottom: 0;
		opacity: .9;
	}
}

$delta: -20%;
$top: 2rem;

@keyframes left-transition-in {
	from { z-index: 0; top: $top; }
	45% { left: $delta; z-index: 9; }
	55% { left: $delta; z-index: 11; }
	to { left: 100px; z-index: 20; top: 0; }
}

@keyframes right-transition-in {
	from { z-index: 0; top: $top; }
	45% { right: $delta; z-index: 9; }
	55% { right: $delta; z-index: 11; }
	to { right: 100px; z-index: 20; top: 0; }
}

@keyframes left-transition-out {
	from { z-index: 20; top: 0; }
	45% { left: $delta; z-index: 11; }
	55% { left: $delta; z-index: 9; }
	to { left: 100px; z-index: 0; top: $top; }
}

@keyframes right-transition-out {
	from { z-index: 20; top: 0; }
	45% { right: $delta; z-index: 11; }
	55% { right: $delta; z-index: 9; }
	to { right: 100px; z-index: 0; top: $top; }
}
